#------------------------
#  Main ignored items
#------------------------

/../wp-config.php
/wp-config.php
.maintenance
versionpress.maintenance
/web.config

/wp-content/*
!/wp-content/db.php
!/wp-content/index.php
!/wp-content/plugins/
/wp-content/plugins/versionpress/
!/wp-content/mu-plugins/
!/wp-content/themes/
!/wp-content/languages/
!/wp-content/uploads/
!/wp-content/vpdb/
/wp-content/vpdb/users/
/wp-content/vpdb/options/no/nonce_key.ini
/wp-content/vpdb/options/no/nonce_salt.ini
/wp-content/vpdb/options/se/secure_auth_key.ini
/wp-content/vpdb/options/se/secure_auth_salt.ini
/wp-content/vpdb/options/si/siteurl.ini
/wp-content/vpdb/options/WP/WPLANG.ini

#------------------------
#  Log files
#------------------------

*.log
error_log
access_log


#------------------------
#  OS Files
#------------------------

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
